@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@supports (-webkit-touch-callout: none) {
  :root {
    --background: #ffffff !important;
    --foreground: #171717 !important;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #ffffff !important;
      /* Fortsatt hvit bakgrunn i Safari mørk modus */
      --foreground: #171717 !important;
      /* Mørk tekst også i mørk modus */
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-playfair);
}

p {
  font-family: var(--font-poppins);
}

a,
button {
  font-family: var(--font-montserrat);
}

.font-main {
  font-family: var(--font-poppins);
}

.font-nav {
  font-family: var(--font-barlow);
}

.font-heading {
  font-family: var(--font-playfair);
}